body {
  padding-top: 35px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  width: 100%;
  background-color: #fafafa;
}

p {
  font-size: 2.5vmin;
  line-height: 1.4em;
  color: #333333;
}

a {
  text-decoration: none !important;
  font-size: 2.5vmin;
}

h4 {
  font-size: 3.5vmin;
}

/*body border styling*/
#top, #bottom, #left, #right {
	background: #B2DFDB;
	position: fixed;
  z-index: 1000;
}
#left, #right {
	top: 0; bottom: 0;
	width: 15px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
	left: 0; right: 0;
	height: 15px;
}
#top { top: 0; }
#bottom { bottom: 0; }

.top {
  height: 100vh;
}

.header {
  text-align: center;
  height: 75vmin;
  width: 75vmin;
  margin: 10vh auto 8vh;
  border-radius: 37.5vmin;
  background-color: #F5D04C;
  margin-bottom: 100px;
}

.header h1 {
  font-size: 12vmin;
  font-family: 'Playfair Display', serif;
  font-style: bold;
  display: block;
  padding-top: 38%;
  color: #fff;
}

.header h3 {
  font-size: 4vmin;
}

.about-me, .projects {
  padding-top: 50px;
  padding-right: 150px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: auto;
}

/* about me content */

.about-title, .project-title, .findMe-title {
  padding-bottom: 40px;
  font-size: 6vmin;
  text-align: center;
}

.about-me {
  max-width: 800px;;
}

/* project content */

.description {
  text-align: left;
}

.left-side, .right-side {
  padding-left: 0;
}

img {
  display: inline-block;
	border: 2px solid #2F4F4F;
  margin-bottom: 50px;
}


/*social information*/
.content-footer {
	margin-top: 5em;
	background-color: #F5D04C;
	padding-top: 3em;
	padding-bottom: 3em;
  text-align: center;
  color: whitesmoke;
}

.social {
  padding-left: 0;
}

.content-footer .social {
	word-spacing: 0.5em;
}

.social > li {
	display: inline-block;
  color: black;
}

.social li + li {
  margin-left: 1.5em;
}

.social > li > a {
  padding: 0;
  color: black;
  transition: color 0.15s ease-out;
}

.social > li > a:hover {
  color: whitesmoke;
}

/* responsiveness */

@media (min-width: 1000px) {
  h1 {
    font-size: 32px;
  }

  .project-title, .about-title, .findMe-title {
    font-size: 30px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
  }

  p, a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 460px) {
	.about-me, .projects, .skills{
		padding: 0;
		font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
	}

  .left-side {
    margin-bottom: 20px;
  }

  p, a {
    font-size: 16px;
  }

  h4 {
    font-size: 18px;
  }

	img {
		margin-left: auto;
		margin-right: auto;
    margin-bottom: 0;
	}
}

/*border will not display on small screens*/
@media

/*Fairly small screens including iphones*/
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px)

{
	#top, #bottom, #left, #right { display: none; }
}
